# Ignore everything by default
*

# Allow Notebooks, Markdown, gifs, and gitignore
!*/
!*.ipynb
!.gitignore
!.md
!*.gif

# Ignore Work In Progress and checkpoints
wip/
.ipynb_checkpoints/

# Ignore personal only
personal-*.ipynb
