# Ignore everything by default
*

# Allow Notebooks, Markdown, and gitignore
!*/
!*.ipynb
!.gitignore
!.md

# Ignore Work In Progress and checkpoints
wip/
.ipynb_checkpoints/

# Ignore personal only
personal-*.ipynb
